@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplayBlack';
  src: url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NeueHaasDisplayBlack';
  src: url('/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  /* outline: 1px solid #f00 !important;
  opacity: 1 !important;
  visibility: visible !important; */

}

body {
  overflow-x: hidden;
  font-family: 'NeueHaasDisplay', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -0.5px;
}

.background {
  background-image: "url(background-bg.png)";
}

.bold {
  @apply font-bold tracking-[0.15px]
}

.sectionContainer {
  @apply flex flex-col justify-start md:justify-between items-start w-screen pt-5 pb-[8vh] px-[1rem] md:px-[2rem] lg:px-[3.75rem] text-[14px] md:text-[16px] lg:text-[18px] relative
}

.sectionBackground {
  @apply w-full h-auto absolute top-0 left-0 z-[-1]
}

.sectionHeader {
  @apply text-[#D6B174] italic text-[25vw] text-opacity-20 mt-[-1rem] lg:mt-[-3.5rem] xl:mt-[-4.5rem]
}

.list::-webkit-scrollbar {
  width: 100%;
  height: 0.2em;
}

.list::-webkit-scrollbar-track {
  background-color: #D6B17440;
}

.list::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 6px #C69025;
}