@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: 'NeueHaasDisplay';
  src: url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaasDisplayBlack';
  src: url('/fonts/NeueHaasDisplayRoman.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'NeueHaasDisplayBlack';
  src: url('/fonts/NeueHaasDisplayBlack.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  /* outline: 1px solid #f00 !important;
  opacity: 1 !important;
  visibility: visible !important; */

}

body {
  overflow-x: hidden;
  font-family: 'NeueHaasDisplay', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  letter-spacing: -0.5px;
}

.background {
  background-image: "url(background-bg.png)";
}

.bold {
  @apply font-bold tracking-[0.15px]
}
